* {
  font-family: Lato;
}

body {
  background-color: #DDEBDD;
}

h1 {
  text-align: center;
}

button {
  margin: 15px;
  border-radius: 5px;
}

.main-title {
  font-size: 20px;
  font-weight: bolder;
}

.sub-title {
  font-size: 14px;
  font-style: italic;
}

#content-area {
  background-color: #F0F8FF;
}

.item-padding {
  margin-bottom: 10px;
}

#page-container {
  width: 80%;
  margin: 0 auto;
}

.product-style {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.information-area {
    padding-top: 20px;
}

.price-container {
  padding-top: 20px;
}

img {
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
  height: 200px;
}

footer {
  height: 50px;
  background-color: white;
  text-align: center;
  padding: 10px;
}
